#cabecera {
    text-align: center;
}

#contenido {
    padding-left: 17%;
    padding-right: 17%;
    display: grid;
}

#contenido table, td, tr{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    border: 1.5px solid;
    padding: 11px;
}

#contenido table #cabecera {
    background-color: rgba(95, 120, 200, 0.6);
    font-size: 19px;
    font-weight: bold;
}

#contenido table #cuerpo_tabla {
    background-color: rgba(211, 211, 209, 0.5);
    font-size: 16.5px;
}

#contenido table #saldo {
    text-align: end;
}